body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../../img/preloader.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 64px;
    width: 64px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

svg {
  width: 100px;
  height: 100px;
  z-index: 100;
  position: relative; }

header, section {
  position: relative; }

section {
  padding: 70px 0 80px; }
  section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  section h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px; }

.main_head {
  min-height: 620px;
  padding-top: 20px; }
  .main_head .logo_container {
    float: left; }
  .main_head .toggle_menu {
    width: 60px;
    height: 60px;
    float: right;
    position: fixed;
    z-index: 100;
    top: 36px;
    right: 50px; }

.sandwich {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block; }
  .sandwich .sw-topper {
    position: relative;
    top: 0;
    width: 32px;
    height: 2px;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    display: block; }
  .sandwich .sw-bottom {
    position: relative;
    width: 32px;
    height: 2px;
    top: 8px;
    display: block;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s; }
  .sandwich .sw-footer {
    position: relative;
    width: 32px;
    height: 2px;
    top: 16px;
    background: white;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: all 0.5s;
    transition-delay: 0.1s;
    display: block; }

.sandwich.active .sw-topper {
  top: 10px;
  transform: rotate(45deg); }
.sandwich.active .sw-bottom {
  top: 8px;
  transform: rotate(-45deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.top_menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 50;
  display: none; }
  .top_menu ul {
    padding: 0;
    margin-top: 120px;
    text-align: center; }
    .top_menu ul li {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .top_menu ul li a {
        display: block;
        padding: 20px 0;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  .top_wrapper .top_description {
    display: table-row; }
    .top_wrapper .top_description .top_centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      .top_wrapper .top_description .top_centered .top_text {
        display: inline-block; }
        .top_wrapper .top_description .top_centered .top_text h1 {
          display: inline-block;
          padding: 10px 30px;
          color: #fff;
          border: 6px solid #fff;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 3em;
          background-color: rgba(0, 0, 0, 0.4);
          -webkit-animation-delay: 0.8s;
          -moz-animation-delay: 0.8s;
          animation-delay: 0.8s; }
        .top_wrapper .top_description .top_centered .top_text p {
          margin: 0;
          text-transform: uppercase;
          -webkit-animation-delay: 1.2s;
          -moz-animation-delay: 1.2s;
          animation-delay: 1.2s; }

.s_description_wrapper {
  text-align: center; }
  .s_description_wrapper .s_description {
    display: inline-block;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 70px; }
    .s_description_wrapper .s_description:after {
      content: "";
      width: 150px;
      height: 1px;
      position: absolute;
      left: 50%;
      margin-left: -75px;
      margin-top: 50px; }

.s_about .person {
  text-align: center;
  margin-bottom: 50px; }
  .s_about .person img {
    max-width: 220px;
    display: inline-block;
    border-radius: 50%; }
.s_about ul, .s_about li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.s_about li {
  margin-bottom: 2px; }

.social_wrapper li {
  display: inline-block;
  font-size: 24px;
  padding: 0 4px; }

.resume_container h3 {
  font-size: 16px;
  font-weight: 600; }
.resume_container .left {
  text-align: right;
  border-right: 1px solid #d2d2d2; }
  .resume_container .left h3 {
    text-align: right; }
  .resume_container .left .resume_description strong {
    margin-left: 15px; }
.resume_container .right {
  text-align: left; }
  .resume_container .right h3 {
    text-align: left; }
  .resume_container .right .resume_description strong {
    margin-right: 15px; }
.resume_container .resume_icon {
  font-size: 40px;
  margin-bottom: 20px; }
.resume_container .resume_item {
  margin-bottom: 30px; }
  .resume_container .resume_item .year {
    display: inline-block;
    margin-bottom: 15px;
    padding: 2px 10px;
    font-style: italic; }
  .resume_container .resume_item .resume_description strong {
    text-transform: uppercase; }

.s_portfolio ul, .s_portfolio li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }
.s_portfolio ul {
  margin-bottom: 50px; }
.s_portfolio li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  line-height: 1.8; }
.s_portfolio .portfolio_item {
  display: none;
  padding: 0; }
  .s_portfolio .portfolio_item img {
    width: 100%; }
  .s_portfolio .portfolio_item .portfolio_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 15%;
    opacity: 0;
    transition: all 0.5s; }
    .s_portfolio .portfolio_item .portfolio_container h3 {
      margin: 0;
      color: white; }
    .s_portfolio .portfolio_item .portfolio_container a {
      background-color: transparent;
      padding: 2px 10px;
      display: inline-block; }
  .s_portfolio .portfolio_item:hover .portfolio_container {
    opacity: 1;
    padding-top: 20%; }

.portfolio_description {
  width: 700px;
  margin: auto; }
  .portfolio_description img {
    float: left;
    margin-right: 30px;
    width: 300px;
    height: auto; }
  .portfolio_description h3 {
    font-weight: 400;
    text-transform: uppercase; }
  .portfolio_description .mfp-close {
    right: 285px; }

.s_contacts .contact_wrapper {
  margin-bottom: 30px; }
  .s_contacts .contact_wrapper .contacts_icon {
    font-size: 30px; }
  .s_contacts .contact_wrapper h3 {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0; }
.s_contacts .contact_form .form-group {
  display: block; }
  .s_contacts .contact_form .form-group input,
  .s_contacts .contact_form .form-group textarea {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    line-height: 40px;
    text-indent: 15px;
    font-size: 14px; }
.s_contacts .contact_form button {
  font-size: 14px;
  line-height: 36px;
  padding: 0 25px;
  border: none;
  text-transform: uppercase; }

footer {
  padding: 50px 0; }
  footer .copyright {
    line-height: 34px;
    float: left;
    margin: 0; }
  footer .social_wrapper {
    float: right; }
    footer .social_wrapper ul {
      margin: 0; }

/*# sourceMappingURL=main.css.map */
